/* Error messaging */
.form-group .fa-times,
.form-group .fa-check {
    color: transparent;
    position: absolute;
    right: 10px;
    top:   10px;
}
.form-group {
    position: relative;
}
.parsley-errors-list {
    display: none;
}
.parsley-error {
    border: 1px solid red !important;
}
.parsley-error ~ .fa-times {
    color: red;
}
.parsley-success ~ .fa-check {
    color: #00AF4F;
}

.parsley-error ~ h3 {
    color: red;
}


/* Form */
.form-group label {
    color: #3C8DBC;
}
.hide-field {
    position: absolute;
    left: -999999px;
}
span.between {
    position: absolute;
    right: -23px;
    top: 31px;
}

/* Job View */
.date-field, .date-save, #updatedates {display: none;}
.date-edit, .date-save {cursor: pointer}
.date-label {font-weight: bold; width: 100px; text-align: right; display: inline-block;}
.date-edit {margin-left: 15px;}
.date-edit:hover {color: green;}
.date-field input {    border: none; border-bottom: 1px solid #999; padding: 0;}

.attemptbox .box-header .box-title {font-size: 16px; color: #3C8DBC; font-weight: bold;}